<div align="center">
	
	The following tickets are available for your selected showing:

<br><br>

<div style="font-size:20pt;">
<% for tt in @ticket_types %>
	<%=tt.name%><br>
<% end %>
</div>
</div>
