<div align="center">
	
	Showing today:

<br><br>

<div style="font-size:20pt;">

<% for f in @films.collect {|f| ((f.find_all_bookable_showings.sort {|a,b| a.show_time <=> b.show_time})[0].show_time < Time.now.tomorrow.beginning_of_day) ? f : nil }.compact %>
	<%=f.title%><br>
<% end %>
</div>
</div>
