<form name="newPassword" action="<%=url_for(:controller => :admin, :action => :new_admin_password, :only_path => false)%>" method="post">
	
	<table>
		<tr>
			<td>
				Enter a new password:
			</td>
			<td>
				<%=password_field "user", "password1"%>
			</td>
		</tr>
		<tr>
			<td>
				Confirm new password:
			</td>
			<td>
				<%=password_field "user", "password2"%>
			</td>
		</tr>
	</table>
	
	<%=submit_tag("Save new password")%>
	
</form>
