
<form action="create" method="post">

<table>

<tr>
<td>Certificate Name:</td><td><%= text_field("certificate", "name", "size" => 5 )%></td>
</tr>

</table>

<%= submit_tag("Create Certificate")%>

</form>